@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.body {
  background-color: #fbfcfe !important;
}

@font-face {
  font-family: "AvenirBlack";
  src: url("./assets/fonts/Avenir_Black/Avenir-Black.ttf");
}

@font-face {
  font-family: "AvenirBook";
  src: url("./assets/fonts/Avenir_Book/Avenir-Book.ttf");
}

@font-face {
  font-family: "AvenirHeavy";
  src: url("./assets/fonts/Avenir_Heavy/Avenir-Heavy.ttf");
}

@font-face {
  font-family: "AvenirLight";
  src: url("./assets/fonts/Avenir_Light/Avenir-Light.ttf");
}

@font-face {
  font-family: "AvenirRegular";
  src: url("./assets/fonts/Avenir_Regular/Avenir-Regular.ttf");
}

@media screen and (min-width: 360px) {
  .navbar {
    width: 360px;
  }
  .subnavbar {
    width: 360px;
  }
  .card-1 {
    width: 324px;
  }
  .offeringContainer {
    width: 360px;
  }
  .card {
    width: 320px;
  }
  .card-sbap {
    width: 310px;
  }

  .player {
    width: 295px;
  }
  .card-sbap-text {
    width: 100px;
  }
  .card-insurance {
    width: 330px;
  }

  .card-bg {
    width: 292px;
  }
  .cardArea {
    margin-left: -130px;
  }
  .card-vendor {
    width: 320px;
    margin-left: 85px;
  }

  .card-ipp {
    width: 340px;
    margin-left: 15px;
  }

  .card-vsp {
    width: 340px;
    margin-left: 15px;
  }

  .insurance-guide {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .video-area {
    border-radius: 16px;
  }

  .vendor-area-1 {
    width: 360px;
  }
  .pulseCard {
    width: 336px;
  }
  .vendorCardArea {
    width: 335px;
  }
  .vendorCardAreaContent {
    width: 300px;
  }
}

@media screen and (min-width: 375px) {
  .navbar {
    width: 375px;
  }
  .subnavbar {
    width: 380px;
  }
  .card-1 {
    width: 340px;
  }
  .offeringContainer {
    width: 370px;
  }
  .card {
    width: 335px;
  }

  .card-insurance {
    width: 346px;
  }

  .cardArea {
    margin-left: 0px;
  }

  .card-vendor {
    width: 330px;
    margin-left: 0px;
  }

  .card-vendor-detaiils {
    width: 350px;
    margin-left: 16px;
  }

  .breadcrumbs-area {
    width: 400px;
  }

  .card-vendor-contact {
    width: 340px;
  }

  .vendor-area-1 {
    width: 375px;
  }

  .pulseCard {
    width: 355px;
  }
  .vendorCardArea {
    width: 335px;
  }
  .vendorCardAreaContent {
    width: 300px;
  }
}

@media screen and (min-width: 390px) {
  .navbar {
    width: 390px;
  }
  .subnavbar {
    width: 390px;
  }
  .card-1 {
    width: 350px;
  }
  .player {
    width: 318px;
  }
  .card-bg {
    width: 320px;
  }
  .offeringContainer {
    width: 390px;
  }
  .card {
    width: 350px;
  }
  .cardArea {
    margin-left: 0px;
  }
  .pulseCard {
    width: 365px;
  }
  .vendor-area-1 {
    width: 390px;
  }
  .card-ipp {
    width: 360px;
    margin-left: 16px;
  }

  .card-vsp {
    width: 360px;
    margin-left: 16px;
  }

  .card-vendor-contact {
    width: 360px;
  }

  .breadcrumbs-area {
    width: 450px;
  }
  .card-vendor {
    width: 352px;
  }
  .vendorCardArea {
    width: 345px;
  }
  .vendorCardAreaContent {
    width: 300px;
  }
}

@media screen and (min-width: 412px) {
  .navbar {
    width: 415px;
  }
  .subnavbar {
    width: 415px;
  }
  .card-1 {
    width: 370px;
  }
  .card-bg {
    width: 392px;
  }
  .offeringContainer {
    width: 405px;
  }

  .player {
    width: 338px;
  }
  .card {
    width: 370px;
  }
  .cardArea {
    margin-left: 0px;
  }
  .card-insurance {
    width: 380px;
  }
  .vendor-area-1 {
    width: 415px;
  }
  .card-vendor {
    width: 370px;
  }
  .card-ipp {
    width: 380px;
    margin-left: 16px;
  }
  .card-vsp {
    width: 380px;
    margin-left: 16px;
  }

  .card-vendor-contact {
    width: 380px;
  }

  .pulseCard {
    width: 385px;
  }
  .vendorCardArea {
    width: 365px;
  }
  .vendorCardAreaContent {
    width: 320px;
  }
}

@media screen and (min-width: 414px) {
  .navbar {
    width: 415px;
  }
  .subnavbar {
    width: 415px;
  }
  .card-1 {
    width: 370px;
  }
  .offeringContainer {
    width: 405px;
  }
  .card {
    width: 370px;
  }
  .cardArea {
    margin-left: 0px;
  }

  .card-vendor-detaiils {
    width: 380px;
  }

  .card-vendor-contact {
    width: 380px;
  }

  .vendor-area-1 {
    width: 415px;
  }
  .card-vendor {
    width: 370px;
  }
  .vendorCardArea {
    width: 365px;
  }
  .vendorCardAreaContent {
    width: 320px;
  }
}

@media screen and (min-width: 430px) {
  .navbar {
    width: 430px;
  }
  .subnavbar {
    width: 430px;
  }
  .card-1 {
    width: 390px;
  }
  .offeringContainer {
    width: 425px;
  }
  .card {
    width: 390px;
  }
  .card-insurance {
    width: 390px;
  }
  .player {
    width: 350px;
  }
  .cardArea {
    margin-left: 0px;
  }

  .card-vendor-detaiils {
    width: 392px;
  }

  .card-vendor-contact {
    width: 382px;
  }

  .card-ipp {
    width: 393px;
    margin-left: 16px;
  }

  .card-vsp {
    width: 393px;
    margin-left: 16px;
  }

  .card-vendor-contact {
    width: 393px;
  }

  .pulseCard {
    width: 405px;
  }
  .vendor-area-1 {
    width: 425px;
  }
  .card-vendor {
    width: 382px;
  }
  .vendorCardArea {
    width: 380px;
  }
  .vendorCardAreaContent {
    width: 350px;
  }
}

@media screen and (min-width: 1440px) {
  .card {
    width: 350px;
  }

  .form-area {
    width: 317px;
  }

  .form-area-1 {
    width: 512px;
  }

  .form-area-2 {
    width: 160px;
  }

  .form-area-3 {
    width: 272px;
  }
  .form-area-4 {
    width: 560px;
  }

  .form-area-5 {
    width: 248px;
  }

  .form-area-6 {
    width: 175px;
  }

  .video-area {
    border-radius: 16px;
  }

  .card-insurance {
    width: 100%;
  }

  .carousel-area {
    width: 666px;
    height: 328px;
  }

  .insurance-guide {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
  }

  .vendor-area-1 {
    width: 100%;
  }
  .card-vendor {
    width: 280px;
    height: 296px;
  }
  .card-merchant-area {
    margin-left: -18px;
  }
  .card-rate {
    width: 361px;
  }

  .card-ipp {
    width: 100%;
    margin-left: 0px;
  }

  .card-sbap {
    width: 1056px;
    height: 64px;
  }

  .card-vsp {
    width: 100%;
    margin-left: 0px;
  }

  .player {
    width: 445px;
  }
  .card-vendor-detaiils {
    width: 100%;
    margin-left: 0px;
  }

  .breadcrumbs-area {
    width: 100%;
  }
}

@media screen and (min-width: 1497px) {
  .card {
    width: 380px;
  }
  .card-vendor {
    width: 296px;
  }
  .card-vendor-detaiils {
    width: 100%;
    margin-left: 0px;
  }
  .carousel-area {
    width: 732px;
    height: 328px;
  }
  .insurance-guide {
    gap: 160px;
  }
  .player {
    width: 505px;
  }
  .card-rate {
    width: 401px;
  }
}

@media screen and (min-width: 1523px) {
  .card {
    width: 390px;
  }

  .offeringDesc {
    width: 350px;
  }

  .carousel-area {
    width: 762px;
    height: 358px;
  }

  .insurance-guide {
    gap: 190px;
  }
  .player {
    width: 530px;
  }

  .card-ip-area {
    width: 100%;
    gap: 25px !important;
  }

  .card-vendor {
    width: 300px;
  }

  .card-rate {
    width: 411px;
  }

  .offeringDesc {
    width: 100%;
  }
}

@media screen and (min-width: 1536px) {
  .card {
    width: 400px;
  }

  .offeringDesc {
    width: 350px;
  }

  .player {
    width: 540px;
  }

  .insurance-guide {
    gap: 195px;
  }

  .card-vendor {
    width: 302px;
  }
}

@media screen and (min-width: 1920px) {
  .card {
    width: 590px;
  }

  .offeringDesc {
    width: 500px;
  }

  .insurance-guide {
    gap: 590px;
  }

  .carousel-area {
    width: 1162px;
    height: 458px;
  }

  .player {
    width: 930px;
  }

  .card-insurance {
    width: 100%;
  }

  .card-ip-area {
    width: 100%;
    gap: 30px !important;
  }

  .card-rate {
    width: 610px;
  }

  .card-vendor {
    width: 400px;
  }
}

.progressBar {
  --bar-bg: rgba(182, 182, 182, 0.24);
  --seek-before-width: 0;
  --seek-before-color: #1f3e7c;
  --knobby: #1f3e7c;
  --selectedKnobby: #1f3e7c;

  appearance: none;
  background: var(--bar-bg);
  border-radius: 10px;
  position: relative;
  height: 4px;
  outline: none;
}

/* progress bar - safari */
.progressBar::-webkit-slider-runnable-track {
  background: var(--bar-bg);
  border-radius: 10px;
  position: relative;
  height: 4px;
  outline: none;
}

/* progress bar - firefox */
.progressBar::-moz-range-track {
  background: var(--bar-bg);
  border-radius: 10px;
  position: relative;
  height: 4px;
  outline: none;
}

.progressBar::-moz-focus-outer {
  border: 0;
}

/* progress bar - chrome and safari */
.progressBar::before {
  content: "";
  height: 4px;
  width: var(--seek-before-width);
  background-color: var(--seek-before-color);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
}

/* progress bar - firefox */
.progressBar::-moz-range-progress {
  background-color: var(--seek-before-color);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 4px;
}

/* knobby - chrome and safari */
.progressBar::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: none;
  background-color: var(--knobby);
  cursor: pointer;
  position: relative;
  margin: -4px 0 0 0;
  z-index: 3;
  box-sizing: border-box;
}

/* knobby while dragging - chrome and safari */
.progressBar:active::-webkit-slider-thumb {
  transform: scale(1.2);
  background: var(--selectedKnobby);
}

/* knobby - firefox */
.progressBar::-moz-range-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: transparent;
  background-color: var(--knobby);
  cursor: pointer;
  position: relative;
  z-index: 3;
  box-sizing: border-box;
}

/* knobby while dragging - firefox */
.progressBar:active::-moz-range-thumb {
  transform: scale(1.2);
  background: var(--selectedKnobby);
}
